# Rename this file to .env and fill in your keys
OPENAI_API_KEY="sk-..."
GOOGLE_API_KEY="..."

# For Observability (Chapter 6 Tracing)
LANGCHAIN_API_KEY="..."
LANGCHAIN_TRACING_V2="true"
LANGCHAIN_PROJECT="AI-Agent-Course"

# For specialized tools
TAVILY_API_KEY="..."
