pyautogen==0.2.14
semantic-kernel==0.9.1
langchain==0.1.13
langchain-community==0.0.29
langchain-openai==0.0.8
langgraph==0.0.26
chromadb==0.4.24
openai==1.14.2
google-cloud-aiplatform==1.44.0
crewai==0.22.4
smolagents==0.0.1
jupyterlab==4.1.5
python-dotenv==1.0.1
langsmith==0.1.31
